<div class="container-fluid landing min-vh-100">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <form (submit)="fetchWeatherByCity()">
                <div class="input-group">
                    <input [(ngModel)]="city" class="form-control mt-2 border-warning" type="text" name="location"
                        id="location" placeholder="Enter name of your city">
                    <div class="input-group-append">
                        <button class="btn btn-success mt-2 mx-2" type="submit">Search</button>
                    </div>
                </div>
                <div *ngIf="errorMessage" class="alert alert-warning alert-dismissible fade show w-50 mt-2" role="alert">
                    {{errorMessage}} <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </form>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-lg-6">
            <div class="container-fluid weather-info text-light p-3">
                <div *ngIf="weatherInfo">
                    <div class="row">
                        <p class="fs-2">
                            <i class="fa-solid fa-location-dot fa-xs"></i> Weather in {{ weatherInfo.name }}
                        </p>
                        <div class="col-lg-8">
                            <div class="row align-items-center">
                                <div class="col-4">
                                    <img [src]="'assets/icons/' + weatherInfo.weather[0].icon + '.png'" alt="Weather Icon" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Weather Condition" class="img-fluid" />
                                </div>
                                <div class="col-8">
                                    <div class="row">
                                        <p class="col-6 col-md-5">Day {{ convertTemp(weatherInfo.main.temp_max) }}°C <i
                                                class="fa-solid fa-arrow-up"></i></p>
                                        <p class="col-6">Night {{ convertTemp(weatherInfo.main.temp_min) }}°C <i
                                                class="fa-solid fa-arrow-down"></i></p>
                                    </div>
                                    <h1 class="temprature">{{convertTemp(weatherInfo.main.temp)}}°C</h1>
                                </div>
                            </div>
                            <div class="row" style="margin-top: -10px;">
                                <div class="col-4">
                                    <div class="row">
                                        <p>
                                            {{weatherInfo.weather[0].description}}
                                        </p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="row">
                                        <p>Feels like {{ convertTemp(weatherInfo.main.feels_like) }}°C</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 p-0 fs-4 ps-3">
                            <p><i class="fa-solid fa-droplet" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                    title="Humidity"></i> {{weatherInfo.main.humidity}} %</p>
                            <p><i class="fa-solid fa-wind" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                    title="Wind Speed"></i> {{(weatherInfo.wind.speed * 3.6).toFixed(2)}} km/hr</p>
                            <p><i class="fa-solid fa-arrow-down-short-wide" data-bs-toggle="tooltip"
                                    data-bs-placement="bottom" title="Pressure"></i> {{weatherInfo.main.pressure}} hPa
                            </p>
                            <p><i class="fa-solid fa-sun" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                    title="Sunrise"></i> {{ formatTime(weatherInfo.sys.sunrise) }}</p>
                            <p><i class="fa-solid fa-mountain-sun" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                    title="Sunset"></i> {{ formatTime(weatherInfo.sys.sunset) }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="banner-container">
                            <img [src]="banner" alt="Banner" class="rounded-banner">
                        </div>
                    </div>
                </div>
                <div *ngIf="!weatherInfo">
                    <p>No weather information available</p>
                </div>
            </div>
        </div>
    </div>
</div>